body{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-image: linear-gradient(to bottom right, #141e30 ,  #243b55);
}
.fondoPortada{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    filter: grayscale(100%);
    margin: 0px 10px;
}
.fondoPortada:hover{
    filter: grayscale(0);
    transition: all .3s ease;
}
.fondoPortada img{
    width: 98vw;
    height: 30vh;
    object-fit: cover;

}
.encabezado{
    text-align: center;
    padding: 20px 0;
    background-image: linear-gradient(to bottom right, #fa897b ,  #ccabd8 , #86e3ce);
    filter: grayscale(100%);
    margin: 10px 22px 0px;
    
}
.encabezado h1{
    font-size: 3rem;
    color: #000000;
}

.encabezado:hover{
    filter: grayscale(0);
    transition: all .3s ease;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    margin-left: 10px;
    
}
.columna {
    flex: 41.2vh;
    max-width: 41.2vh;
    padding: 0 3px;
    margin: 0;
    
}
.columna img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(100%);
    transition: all .3s ease ;


}
.columna img:hover{
    cursor: pointer;
    filter: grayscale(0%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transform: scale(1.1);
    border-radius: 15px;
    z-index: 1000;
}
.overlay{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10000;
    display: flex;
    justify-content: center;   
    align-items: center; 
    transition: all .7s ease;
    visibility: hidden;
    opacity: 0;
}
.overlay .slideshow{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, .9);
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;

}
.slideshow img {
    height: 100%;
    width: 100vh;
    object-fit: contain;
}
.btn-cerrar{
position: absolute;
top: -1em;
right: -1em;
font-size: 2.1em;
background-color: rgba(0, 0, 0, .7);
color: #FFF;
width: 1.87rem;
height: 1.87rem;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
padding: 5px;
transition: all .2s ease;
}
.btn-cerrar:hover{
    cursor: pointer;
    transform: scale(1.2);

}
.botones{
    background-color: #ffffffd7;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(240, 106, 45);
    text-align: center;

}
.botones:hover {
    transform: scale(1.1);
    transition: all .2s ease;
    top: 48%;
    background-color: rgba(0, 0, 0, .5);
}
.atras{
    left: 20px;
}
.adelante{
    right: 20px;
}
@media screen and (max-width: 800px){
    .fondoPortada{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        filter: grayscale(100%);
        margin: 0px 0px;
    }

    .fondoPortada img{
        width: 100vw;
        height: 25vh;
        object-fit: cover;
        padding: 0;
        margin: 0;
    } 
    .encabezado h1{
        font-size: 1.8rem;
      
    }   
.columna{
flex: 50%;
max-width: 50%;
}
.botones{
    font-size: 3.12rem ;
    height: 3.12rem;
    width:3.12rem ;
}
.atras{
    left: 5px;
}
.adelante{
    right: 5px;

}
.slideshow img{
    width: 98%;
}
    
}
@media screen and (max-width: 600px){
    .columna{
        flex: 100%;
        max-width: 96%;
        }
        .encabezado h1{
            font-size: 1.5rem;
          
        }
}
